@import 'colors';

body {
    font: 100% Helvetica, sans-serif;
    background-color: $gray0;
    margin: 0;
}

.main_layout {
    padding-top: 54px;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 100px;
}

.top_bar {
    width: 100%;
    height: 54px;
    background-color: $bg_search_bar;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    z-index: 900;

    input {
        padding: 5px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        height: 31px;
        width: 90%;
        border: 0px;
        font-size: 18px;
    }
    input:focus {
        outline: none !important;
        border:0px;    
    } 
}

.top_bar_input_container {
    height: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15%;
    padding-right: 15%;
}

.logo {
    width: 5%;
    height: 50px;
    margin-top: 3px;
    background-image: url('/app/assets/images/Logo_ML.png');
    background-repeat: no-repeat;
    float: left;
    padding-right: 1%;
    
}

.list_item {
    display: flex;
}

.image_container {
    height: 180px;
    width: 180px;
    padding: 16px;
    border-radius: 4px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}

.list_price {
    font-size: 24px;
}